<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>About Us</title>

        <!-- Required for mobile sizing: Set the page to the width of the device and set the zoom level -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Bootstrap: Optional theme: Look and Feel -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Link to jQuery libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Needed for Glyphicons: Font Awesome CDN Source: http://fontawesome.io/ -->
        <script src="https://use.fontawesome.com/e8a4c811a1.js"></script>
        
         <!-- Load google translate bar-->
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        
        <!-- Loading in static files -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'dublinbuspredict/css/style.css' %}" />
        <script type="text/javascript" src="{% static 'dublinbuspredict/js/main.js' %}"></script>
        <style type="text/css">@font-face { 
            font-family: 'London-Tube'; 
            src:local('fontName Regular'),
                local('London-Tube'), 
                url({% static 'dublinbuspredict/fonts/London-Tube.ttf' %}) format('truetype');
            } 
        </style>

    </head>

    <body>
        <!-- Container for both Navbar and Side-Navbar -->
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="navbar-left">
                            <a href="#" class="custom-white" style="cursor:pointer"  onclick="openNav()">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a></li>
                        {% load static %}
                        <li class="navbar-right">
                        <!-- Google Translation -->
                        <div id="translate_icon"> 
                        <img id="translate_logo" alt="Translate logo" src="{% static 'dublinbuspredict/css/images/translate.png' %}" class="img-responsive" >
                          </div>  	
                            <div id="google_translate_element"></div>  
                        <img id="db_logo" alt="Dublin Bus Logo" src="{% static 'dublinbuspredict/css/images/dblogo.png' %}" class="img-responsive" ></li>
                    </ul>
                </div>
            </nav>

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div id="w3-buttons">
                    <a href="/dublinbuspredict/" class="w3-bar-item w3-button"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
                    <a href="/dublinbuspredict/tickets_fares" class="w3-bar-item w3-button"><i class="fa fa-eur fa-fw"></i>&nbsp;Tickets & Fares</a>
                    <a href="/dublinbuspredict/tourism" class="w3-bar-item w3-button"><i class="fa fa-map fa-fw"></i>&nbsp;Tourism</a>
                    <a href="/dublinbuspredict/connections" class="w3-bar-item w3-button"><i class="fa fa-train fa-fw"></i>&nbsp;Connections</a>
                    <a href="/dublinbuspredict/contact" class="w3-bar-item w3-button"><i class="fa fa-phone fa-fw"></i>&nbsp;Contact Us</a>
                </div>
                <div id="social-media" class="row col-lg-12 my-social-icons">
                    <a target="_blank" href="https://twitter.com/dublinbusnews" class="col-xs-2 btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                    <a target="_blank" href="https://www.facebook.com/DublinBusNews/" class="col-xs-2 btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                    <a target="_blank" href="https://www.instagram.com/dublinbusnews/?hl=en" class="col-xs-2 btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
                    <a target="_blank" href="https://ie.linkedin.com/company/dublin-bus-bus-tha-cliath" class="col-xs-2 btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                    <a target="_blank" href="https://github.com/LukeO1/summerProject" class="col-xs-2 btn btn-social-icon btn-google"><span class="fa fa-github"></span></a>
                </div> 
            </div>    
        </div>

        <!-- Image Container: Hides on small and extra-small screens (Note: Do not add BS container or row as limits size) -->
        <div onclick="closeNav()">
            {% load static %}
            <img src="{% static 'dublinbuspredict/css/images/ucd.jpg' %}" alt="cities" class="my-contact-photo img-responsive hidden-xs hidden-sm" id="map">
        </div>

        <!-- Profile Container: Holder for both Profiles and Address  -->
        <div class="container-fluid my-contact-information" onclick="closeNav()">
            <div class="row">
                <!-- Profile Bio Information: Takes up 8/12 spaces from Grid structure -->
                <div class="col-md-8">
                    <div class="col-md-3">
                        {% load static %}
                        <img src="{% static 'dublinbuspredict/css/images/profile1.jpg' %}" class="col-lg-12 my-profile-photo img-responsive img-circle hidden-xs hidden-sm">
                        <div class="row my-profile">
                            <h4 class="text-center">Lucas Onderwater</h4>
                            <h5 class="text-center">
                                Code Lead
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% load static %}
                        <img src="{% static 'dublinbuspredict/css/images/profile2.jpg' %}" class="col-lg-12 my-profile-photo img-responsive img-circle hidden-xs hidden-sm">
                        <div class="row my-profile">
                            <h4 class="text-center">Darragh Minogue</h4>
                            <h5 class="text-center">
                                Coordination Lead
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% load static %}
                        <img src="{% static 'dublinbuspredict/css/images/profile4.jpg' %}" class="col-lg-12 my-profile-photo img-responsive img-circle hidden-xs hidden-sm">
                        <div class="row my-profile">
                            <h4 class="text-center">Stephen Moles</h4>
                            <h5 class="text-center">
                                Maintenance Lead
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% load static %}
                        <img src="{% static 'dublinbuspredict/css/images/profile3.jpg' %}" class="col-lg-12 my-profile-photo img-responsive img-circle hidden-xs hidden-sm">
                        <div class="row my-profile">
                            <h4 class="text-center">Peng Xu</h4>
                            <h5 class="text-center">
                                Customer Lead
                            </h5>
                        </div>
                    </div>
                </div>

                <!-- Address Container: Takes up 4/12 spaces from Grid structure -->
                <div class="col-md-4">
                    <form>
                        <legend><span class="glyphicon glyphicon-globe"></span> Address</legend>
                        <address>
                            <strong>University College Dublin (UCD)</strong><br>
                            Stillorgan Road, Belfield<br>
                            Dubin 4<br>
                            Ireland<br>
                            <br>
                            (01) 716-7777
                        </address>
                        <address>
                            <strong>Contact us</strong><br>
                            <a href="mailto:">stephen.moles@ucdconnect.ie</a><br>
                            <a href="mailto:">darragh.minogue@ucdconnect.ie</a><br>
                            <a href="mailto:">lucas.onderwater@ucdconnect.ie</a><br>
                            <a href="mailto:">peng.xu@ucdconnect.ie</a><br>
                            <br>
                        </address>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container-fluid" onclick="closeNav()">
            <div class="row">
                <footer class="fixed-bottom my-new-footer">
                    <div class="row">
                        {% load static %}
                        <div class="col-sm-3 text-center hidden-xs"><img src="{% static 'dublinbuspredict/css/images/TFI%20(2).png' %}">
                        </div>
                        <div class="col-sm-3 text-center"><h4>Information</h4>
                            <li><a href="/dublinbuspredict/">Home</a></li>
                            <li><a href="/dublinbuspredict/tickets_fares">Tickets & Fares</a></li>
                            <li><a href="/dublinbuspredict/tourism">Tourism</a></li>
                            <li><a href="/dublinbuspredict/connections">Connections</a></li>
                            <li><a href="/dublinbuspredict/contact">Contact Us</a></li>
                        </div>
                        <div class="col-sm-3 text-center"><h4>External Links</h4>
                            <li><a target="_blank" href="https://www.luas.ie/">Luas</a></li>
                            <li><a target="_blank" href="http://www.buseireann.ie/">Bus Eireann</a></li>
                            <li><a target="_blank" href="http://www.irishrail.ie/">Irish Rail</a></li>
                        </div>
                        <div class="col-sm-3 text-center hidden-xs"><img id="bly_img" src="{% static 'dublinbuspredict/css/images/logonobg.png' %}">
                        </div>
                    </div>

                    <!-- Footer: Copyright Section -->
                    <p class="text-center" style="padding:10px;">&copy; Copyright 2017</p>
                </footer>
            </div>
        </div>

        <!-- Bootstrap Files: Documentation requested they be added to end of HTML page to avoid errors -->

        <!-- jQuery file: Needs to be pasted above Bootstrap file to avoid errors -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
    </body>
</html>
